<ng-container *ngIf="book.length !=0" >
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <div class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Book Name</th>
                            <th>Book Image</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of book; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width:100px" src="{{item.image}}" alt=""></td>
                            <td style="width:25%">{{item.description}}</td>
                            <td style="width:12%">{{item.quantity}}</td>
                            <td style="width:12%">{{item.price}}</td>
                            <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">empty Cart</button></td>
                            <td><button routerLink="/product" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-dark" (click)="book= []; checkedOut = true;" >Checkout</button></td>
                            <td><strong>Grand Total:R {{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    
    

    </div>
   
</ng-container>

<ng-container *ngIf="!checkedOut && book.length ==0 ">
    
    <div class="container">
        <div class="card">
            <h5 class="card-title">My bookings</h5>
        </div>
        <div class="center">
            <img src=""height="90px"alt="">
            <h4>You have no bookings</h4>
            <h6>Add bookings</h6>
            <button routerLink="/product" class="btn btn-primary">book now</button>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="checkedOut">
    <h3 *ngIf="checkedOut" class="alert alert-success">Please come fetch your books at your nearest library</h3>
    <small>Meanwhile you can view more books <a routerLink="/home">here.</a></small>
</ng-container>

