
.book1{
    border-radius: 50px;
    background-color: lightblue;
    border: 1px solid lightblue; 
    margin: 7px;
}
.Gen{
    justify-content: center;
    text-decoration: underline;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
}
.card{
    margin-top: 7px;
    height: 300px;
    width: 150px;
}
.card-body h6 {
    font-size: 14px;
}
.col-6 {
    padding: 0;
}
.card img {
    width: 100% !important;
    object-fit: cover;
}

.book-view {
    text-decoration: none;
    color: black;
}
