
.book1{
    border-radius: 50px;
    background-color: lightblue;
    border: 1px solid lightblue; 
    margin: 7px;
}
.Gen{
    justify-content: center;
    text-decoration: underline;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
}
.card{
    margin-top: 7px;
    height: 300px;
    width: 150px;
}
.card-body h6 {
    font-size: 14px;
}
.col-6 {
    padding: 0;
}
.card img {
    width: 100% !important;
    object-fit: cover;
}

.book-view {
    text-decoration: none;
    color: black;
}
.card-selected {
    opacity: 0.1;
}

@media only screen and (max-width: 390px){
    .card-img-top{
        width: 50px;

    }

    .card{
        /* margin: 5px; */
        height: 180px;
        width: 90px;
        margin-bottom: 20px;
    }
    .card-title{
        font-size: 12px;
    }
    .card-body{
        height: 30px;
        padding: 4px;
    }
}
